<!DOCTYPE html>
<html ng-app="QuizApplication">
    <head>
        <title>Quiz Application</title>        
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1>Quiz Program</h1>
            <p>This is the quizzing program for CIDM4385.</p>
        </div>
        <div class="container">
            <div ng-controller="QuizApplicationController as qac">
                <p><span class="label label-default">Student:</span> {{qac.selected_student.name}} - 
                Correct: {{qac.selected_student.correct}} - Incorrect: {{qac.selected_student.incorrect}}</p>
                <p><span class="label label-default">Question:</span> {{qac.selected_question.text}}</p>
                <p><span class="label label-default">Answer:</span> {{qac.selected_question.answer}}</p>
                <button type="button" class="btn btn-success" ng-click="qac.doCorrect()">Correct</button>
                <button type="button" class="btn btn-danger" ng-click="qac.doIncorrect()">Incorrect</button>
            </div>
        </div>
        <script src="angular.min.js"></script>
        <script src="app2.js"></script>
        <script src="localstorageapp.js"></script>
    </body>
</html>